.ddev/
.git/
.gitignore
node_modules/
vendor/
web/core/
web/profiles/custom/az_quickstart/
web/modules/contrib/
web/themes/contrib/
web/libraries/
drush/Commands/contrib/
web/sites/default/settings.local.php
web/sites/default/files/styles/
web/sites/default/files/php/
web/sites/default/files/css/
web/sites/default/files/js/
*.log
.env
