.ddev/
.git/
.gitignore
node_modules/
vendor/
web/core/
web/profiles/custom/az_quickstart/
web/modules/contrib/
web/themes/contrib/
web/libraries/
drush/Commands/contrib/
web/sites/*/settings.local.php
web/sites/*/files/styles/
web/sites/*/files/php/
web/sites/*/files/css/
web/sites/*/files/js/
*.log
.env
